body{background-color: pink;}
.pink{color: blue}
.img{width: 250px; height: 250px}
.intro{text-align: justify;}
h1{text-decoration: underline;font-size: 45px}
h2{text-decoration: underline;}
h3{text-decoration: underline;}
h4{text-decoration: underline;}
